@import url('https://fonts.googleapis.com/css?family=Caveat:100,200,300,400,500,600,700|Tinos,100,200,300,400,500,600,700');

/*................backgoundcolor*/

.bg-color-name-title {
    background-color: #b5abab;
    }

.menu-color-home {
    background-color: #ffc107;
}

.menu-color-overview {
    background-color: #007bff;
}

.menu-color-vision {
    background-color: #687d90;
}

.menu-color-article {
    background-color: rgba(0, 123, 255, .25);
}
/*-------------------Header-----------------*/
header {
    margin: 0;
}

.logo {
    background-image: url("../images/eu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
 /*----------------------------------.logo 2 {
.logo-2 {
   
    background-image: url("../images/uk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transform: smooth;
    
}}--------------------------------------------*/

.title {
    font-family: Tinos, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin-top: 2rem;
    color: #fff;
    padding-left: 20px;
}

.subtitle {
    font-family: Caveat, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #dc3545;
    padding-left: 20px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}
/*---------------Menu Items-----------------*/

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, .9);
    font-weight: bold
}

/*------------------------------------hover-----*/


    .hvr-sweep-to-right:before {
        background-color: #9fecb1;
        transition-timing-function: ease-in;
        transition-delay: 2s;
    }
