@import url('https://fonts.googleapis.com/css?family=Caveat:100,200,300,400,500,600,700|Tinos,100,200,300,400,500,600,700');

/*---------Style---------------------------------------------*/

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general {
    font-family: "Tinos", sans-serif;
    color: #fff;
}

.institutions-item {
    font-size: 26px;
    font-weight: 300;
}

/*................backgoundcolor*/

.bg-color-institutions {
    background-color: #ced2d6;
}

.bg-color-history {
    background-color: #007bff;
}

.bg-color-name-title {
    background-image: url("../images/europe.jpg")
}

.menu-color-home {
    background-color: #ffc107;
}

.menu-color-overview {
    background-color: #007bff;
}

.menu-color-vision {
    background-color: #687d90;
}

.menu-color-article {
    background-color: rgba(0, 123, 255, .25);
}

.bg-pic {
    background-image: url("../images/pm.jpg")
}
.bg-over {
    background-image: url("../images/eu.jpg")
}

/*-------------------Header-----------------*/

header {
    margin: 0;
}

.logo {
    background-image: url("../images/eu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo-uk {
    background-image: url("../images/uk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.logo-euk {
    background-image: url("../images/flag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.title {
    font-family: Tinos, sans-serif;
    font-weight: 600;
    font-size: 5rem;
    margin-top: 2rem;
    color: #b5abab;
    padding-left: 20px;
}


.subtitle {
    font-family: Caveat, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #dc3545;
    padding-left: 20px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

/*---------------Menu Items-----------------*/

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, .9);
    font-weight: bold
}

.section-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Caveat", sans-serif;
    font-weight: 300;
    color: #43494e;
}

.members-heading {
    font-family: "Tinos", sans-serif;
    font-size: 22px;
    margin-bottom: 15px;

}

.paragraph-contents {
    font-size: 18px;
}

/*------------------------------------hover/footer-----*/

.hvr-sweep-to-right:before {
    background-color: #9fecb1;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

footer {
    background-color: #687d90;
    min-height: 120px;
    color: #fff;
    margin: 0;
}

.art-pdf i {
    font-size: 26px;
    color: #dc3545;
    text-align: center;
    padding-left: 5px;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.art-pdf i:hover {
    color: rgba(0, 123, 255, .25);
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 26px;
    line-height: 7px;
    text-align: center;
    color: #004085;
    background-color: #687d90;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: #dc3545;
}

#footer-details {
    padding: 20px;

}

/*--------------------Members----------*/

.members-icon {
    font-size: 26px;
    color: #007bff;
}

/*--------------------Votes----------*/

.progress {
    position: relative;
    height: 30px;
    margin-bottom: 20px;

}

.progress-type {
    position: absolute;
    left: 0px;
    font-size: 14px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fff;
    background-color: #17a2b829;
}

.progress-section {
    margin: 40px 20px;
}

.timeline-item {
    padding: 2em 2em 0em 2em;
    position: relative;
    color: #fff;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 1em;
    display: block;
    font-family: "Tinos", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}
.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 1em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: " ";
    background-color: #fff;
}

.vision-heading {
    font-family: "Tinos", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}
.center-form {
    padding: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color:#dc3545;
    background-color: #6c737d36;
}

@media(min-width: 992px) {
    .center-form {
    padding: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}
}